body{
background-color: black;
}
.App{
  text-align: center;
}
.list{
  font-size: medium;
  color: white;
}
.taskButton{
  background-color: white;
  
}
.addTask{
  height: 100%;
  width: 100%;
}

.button5{
  transition-duration: 0.4s;
  margin-left: 50px;
  width: 15%;
  border-radius: 10px;
  font-size: 15px;
}
.button5:hover {
  background-color: rgb(8, 8, 8); 
  color: white;
  border: 1px solid white; 
} 